<% include ../partials/header %>

	<div class="card">
		<div class="card-header">
			<h2 class="text-center"><%= title %></h2>
		</div>
		<div class="card-body">

			<form method="POST" action="/assessments/create" class="row">
				<label for="course_id" class="col-form-label col-md-1">Course: </label>
				<select id="course_id" name="course_id" class="form-control col-md-3">
					<% courses.forEach((course) => { %>
						<option value="<%= course.id %>" <% if (typeof course_selected !== 'undefined') { %> <% if(course_selected.id == course.id) { %> selected <% } %> <% } %>><%= course.code %> - <%= course.name %></option>
					<% }) %>
				</select>

				<label for="student" class="col-form-label col-md-2 text-md-right">Batch: </label>
				<select class="form-control col-md-3" id="batch" name="batch">
					<option value="2013-2017" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2013-2017") { %> selected <% } %> <% } %>>2013-2017</option>
					<option value="2014-2018" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2014-2018") { %> selected <% } %> <% } %>>2014-2018</option>
					<option value="2015-2019" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2015-2019") { %> selected <% } %> <% } %>>2015-2019</option>
					<option value="2016-2020" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2016-2020") { %> selected <% } %> <% } %>>2016-2020</option>
					<option value="2017-2021" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2017-2021") { %> selected <% } %> <% } %>>2017-2021</option>
					<option value="2018-2022" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2018-2022") { %> selected <% } %> <% } %>>2018-2022</option>
					<option value="2019-2023" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2019-2023") { %> selected <% } %> <% } %>>2019-2023</option>
					<option value="2020-2024" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2020-2024") { %> selected <% } %> <% } %>>2020-2024</option>
					<option value="2021-2025" <% if (typeof batch_selected !== 'undefined') { %> <% if(batch_selected == "2021-2025") { %> selected <% } %> <% } %>>2021-2025</option>
				</select>

				<input type="submit" value="Submit" class="btn btn-success col-md-2 ml-2">

			</form>
		</div>
	</div>

	<br>

	<div class="card">

		<div class="card-body">

			<% if(typeof course_selected !== 'undefined') { %>
			
				<form <% if (typeof assessment == 'undefined') { %> action="/assessments" <% } else { %> action="/assessments/<%= assessment.id %>?_method=PUT" <% } %> method="POST">

					<input type="hidden" name="course" value="<%= course_selected.id %>" readonly>
					<div class="text-center"><div class="col-md-6 btn btn-lg btn-info"><%= course_selected.name %></div></div><br>
					<div class="row">
						<label for="student" class="col-form-label col-md-1 offset-md-4">Student: </label>
						<select id="student" name="student" class="form-control col-md-3">
							<% students.forEach((student) => { %>
								<option value="<%= student.id %>"><%= student.roll %> - <%= student.name %></option>
							<% }) %>
						</select>
					</div>

					<br>
					
					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr>
								<th>Group</th>
								<th>Tool</th>
								<th>Program Outcome</th>
								<th>Score (On a scale of 1-4)</th>
							</tr>
						</thead>
						<tbody class="table-light">
							<% charts.forEach((chart) => { %>
								<% if (chart.fulfil !== '') { %>

									<tr>
										<td><%= chart.Tool.Group.name %></td>
										<td><%= chart.Tool.name %></td>
										<td><%= chart.ProgramOutcome.name %> - <%= chart.fulfil %></td>
										<td><input class="<%= chart.Tool.id %>" onchange="updatePO(this)" type="number" min="1" max = "4" name="score" class="form-control"></td>
									</tr>
								<% } %>
							<% }) %>
						</tbody>
					</table>

					<div class="text-center">
						<input type="submit" value="Save" class="btn btn-success">
					</div>

				</form>
			<% } %>

		</div>
	</div>

	<script>
		function updatePO(value){
			//var id = document.querySelector(value).getAttribute("class");
			//console.log(id);
			//var tool = document.querySelectorAll("input[name=score]").getAttribute("class");
			var toolId = $(value).attr("class");
			var score = $(value).val();
			console.log(score); 
			console.log(toolId); 
			var tool = $("."+toolId).val(score);
			//for (var i=0; i<tool.length; i++)	
		}
	</script>
	
<% include ../partials/footer %>