<% include ../partials/header %>

	<div class="container">

		<div class="card">
			<div class="card-header">
				<h2 class="text-center"><%= title %></h2>
			</div>
			<div class="card-body">
				
				<form <% if (typeof chart == 'undefined') { %> action="/charts" <% } else { %> action="/charts/<%= chart.id %>?_method=PUT" <% } %> method="POST">
					

					<table class="table table-bordered">
						<thead class="thead-dark">
							<tr>
								<th width="5%">Course</th>
								<th width="15%">Group</th>
								<th width="20%">Tool</th>
								<th width="60%">PO Fulfil</th>
							</tr>
						</thead>
						<tbody class="table-light">
							<% for (var i = 0; i < programoutcomes.length; i++) { %>
								<tr>
									<td>
										<div class="list-group-item"><%= course.name %></div>
										<input type="hidden" name="course" value="<%= course.id %>" class="form-control">
									</td>
									<td>
										<select id="group" name="group" class="form-control">
											<% course.Groups.forEach((group) => { %>
												<option value="<%= group.id %>"><%= group.name %></option>
											<% }) %>
										</select>
									</td>
									<td>
										<select id="tool" name="tool" class="form-control">
											<% course.Groups.forEach((group) => { %>
												<% group.Tools.forEach((tool) => { %>
													<option value="<%= tool.id %>"><%= tool.name %></option>
												<% }) %>
											<% }) %>
										</select>
									</td>
									<td>
										<table class="table table-sm table-bordered">
											<tbody class="tbody-light">
												<tr>
													<% programoutcomes.forEach((programoutcome) => { %>
														<td>
															<input type="text" name="fulfil" class="form-control" placeholder="<%= programoutcome.id %>">
														</td>
													<% }) %>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>

					

					<br>

					<div class="text-center">
						<input type="submit" value="Save" class="btn btn-success">
					</div>

				</form>

			</div>
		</div>

	</div>
	
<% include ../partials/footer %>