<% include ../partials/header %>

	<div class="card">
		<div class="card-header">
			<h2 class="text-center"><%= title %></h2>
		</div>
		<div class="card-body">
			
			<form <% if (typeof chart == 'undefined') { %> action="/charts/store" <% } else { %> action="/charts/<%= chart.id %>?_method=PUT" <% } %> method="POST">
				

				<table class="table table-bordered">
					<thead class="thead-dark">
						<tr>
							<th width="15%">Course</th>
							<th>Group - Tool</th>
							<th>Program Outcome</th>
							<th>Fulfil</th>
						</tr>
					</thead>
					<tbody class="table-light">
						<% for (var i = 0; i < tools.length; i++) { %>
							<% programoutcomes.forEach((programoutcome) => { %>
								<tr>
									<td>
										<input type="hidden" name="course" value="<%= course.id %>">
										<div class="list-group-item"><%= course.name %></div>
									</td>
									<td>
										<select name="tool" class="form-control">
											
											<% tools.forEach((tool) => { %>

												<option value="<%= tool.id %>"><%= tool.Group.name %> - <%= tool.name %></option>

											<% }) %>
											
										</select>
									</td>
									<td>
										<input type="text" name="programoutcome" readonly class="form-control" value="<%= programoutcome.id %>">
									</td>
									<td>
										<input type="text" name="fulfil" class="form-control">
									</td>
								</tr>
							<% }) %>
						<% } %>
						
					</tbody>	
				</table>

				

				<br>

				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-success">
				</div>

			</form>

		</div>
	</div>

<% include ../partials/footer %>