<% include ../partials/header %>

	<div class="card">
		<div class="card-header">
			<h2 class="text-center"><%= title %></h2>
		</div>
		<div class="card-body">
			
			<form <% if (typeof student == 'undefined') { %> action="/students" <% } else { %> action="/students/<%= student.id %>?_method=PUT" <% } %> method="POST">
				
				<label for="name">Name</label>
				<input type="text" id="name" <% if(typeof student != 'undefined') { %> value="<%= student.name %>" <% } %> name="name" class="form-control">

				<label for="roll">Roll No</label>
				<input type="text" id="roll" <% if(typeof student != 'undefined') { %> value="<%= student.roll %>" <% } %> name="roll" class="form-control">

				<label for="batch_of">Batch Of</label>
				<select id="batch_of" name="batch_of" class="form-control">
					<option value="2013-2017" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2013-2017") { %> selected <% } %> <% } %>>2013-2017</option>
					<option value="2014-2018" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2014-2018") { %> selected <% } %> <% } %>>2014-2018</option>
					<option value="2015-2019" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2015-2019") { %> selected <% } %> <% } %>>2015-2019</option>
					<option value="2016-2020" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2016-2020") { %> selected <% } %> <% } %>>2016-2020</option>
					<option value="2017-2021" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2017-2021") { %> selected <% } %> <% } %>>2017-2021</option>
					<option value="2018-2022" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2018-2022") { %> selected <% } %> <% } %>>2018-2022</option>
					<option value="2019-2023" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2019-2023") { %> selected <% } %> <% } %>>2019-2023</option>
					<option value="2020-2024" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2020-2024") { %> selected <% } %> <% } %>>2020-2024</option>
					<option value="2021-2025" <% if (typeof student !== 'undefined') { %> <% if(student.batch_of == "2021-2025") { %> selected <% } %> <% } %>>2021-2025</option>
				</select>

				<label for="batch_of">Department</label>
				<select class="form-control" id="department" name="departmentId">
					
					<% departments.forEach((department) => { %>
						<option value="<%= department.id %>" <% if (typeof student != 'undefined') { %> <% if (student.Department.id == department.id) { %> selected <% } %> <% } %>><%= department.name %></option>
					<% }) %>

				</select>

				<br>

				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-success">
				</div>

			</form>

		</div>
	</div>
	
<% include ../partials/footer %>